body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: white;
}

* {
    box-sizing: border-box;
}

/* form */

form, header{
    width: 100%;
}

form{
    display: flex;
    padding: 1em;
    gap:0.5em;
    justify-content: center;
}

#color, #scheme, #fetch {
    font-family: inherit;
}

#color {
    padding: 0;
    background-color:#E5E5E5;
    border: 0.5px solid #D1D5DB;
}

#fetch, #scheme {
    border-radius: 4px;
    border-color: #D1D5DB;
    background-color: inherit;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#fetch {
    border: 1px solid #D1D5DB;
}

#scheme {
    width: 50%;
    max-width: 300px;
    padding: inherit 1em;
}

/* main */

main {
    display: flex;
    width: 100%;
    text-align: center;
}

main div{
    width: 100%;
}

.color {
    cursor: pointer;
    height: 60vh;
    width: 100%;
    min-width: 100px;
    min-height: 300px;
    max-height: 550px;
    border: 1px solid #D1D5DB;
}

@media (max-width:700px) {
    .color {
        min-width: 25%;
    }
}

.color-code {
    font-size: 0.75rem;
    line-height: 2em;
    color: #2B283A;
    transition: 200ms;
    transform: scale(1.0);
}

.color-code:hover {
    cursor: pointer;
    transform: scale(1.1);
}